site_name: "The GLACIER Platform"
# site_url: https://mydomain.org/mysite
theme:
  name: material
  custom_dir: overrides
  logo: images/logo_long.png
  favicon: images/favicon-16x16.png
  palette: 
    - scheme: default
      primary: white
      accent: amber
  language: en 
  icon:
    repo: fontawesome/brands/git-alt
  features:
    - navigation.top
    - navigation.instant
    - navigation.instant.prefetch
    - content.code.copy
    - content.code.select
plugins:
  - search
nav:
  - Home: index.md
markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
extra:
  analytics:
    provider: google
    property: G-W9HHV0Z1Z5
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/heart 
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/heart-broken
          name: This page could be improved
          data: 0
          note: >- 
            Thanks for your feedback! Help us improve this page by
            using our <a href="https://esd-univr.github.io/glacier-website/issues/new/?title=[Feedback]+{title}+-+{url}" target="_blank" rel="noopener">feedback form</a>.
  consent:
    title: Cookie consent
    description: >-
      We use cookies and other tracking technologies to improve your browsing experience on our website, to analyze our website traffic, and to understand where our visitors are coming from.
    actions:
      - accept
      - manage 
extra_css: 
  - stylesheets/extra.css
copyright: >
  Copyright &copy; 2024, Electronic Systems Design (ESD) Lab @ UniVR - <a href="#__consent">Change cookie settings</a>
